/* Estilos para o botão de tema */

header {
    position: relative;
  }
  
  .theme-toggle {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
  }
  